@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    /* Commented out existing colors */
    /* --background: 0 0% 100%; */
    /* --foreground: 222.2 47.4% 11.2%; */
    /* --card: 0 0% 100%; */
    /* --card-foreground: 222.2 47.4% 11.2%; */
    /* --popover: 0 0% 100%; */
    /* --popover-foreground: 222.2 47.4% 11.2%; */
    /* --primary: 222.2 47.4% 11.2%; */
    /* --primary-foreground: 210 40% 98%; */
    /* --secondary: 210 40% 96.1%; */
    /* --secondary-foreground: 222.2 47.4% 11.2%; */
    /* --muted: 210 40% 96.1%; */
    /* --muted-foreground: 215.4 16.3% 46.9%; */
    /* --accent: 210 40% 96.1%; */
    /* --accent-foreground: 222.2 47.4% 11.2%; */
    /* --destructive: 0 84.2% 60.2%; */
    /* --destructive-foreground: 210 40% 98%; */
    /* --border: 214.3 31.8% 91.4%; */
    /* --input: 214.3 31.8% 91.4%; */
    /* --ring: 222.2 47.4% 11.2%; */

    /* Primary colors */
    --primary-900: 18.26 83.64% 21.57%;
    --primary-500: 18.04 83.61% 35.88%;
    --primary-100: 18.1 73.66% 52.35%;

    /* Foreground colors */
    --foreground-900: 45.82 63.22% 82.94%;
    --foreground-500: 45 100% 92.94%;
    --foreground-300: 196.68 20.94% 16.86%;
    --foreground-100: 41.54 68.42% 96.27%;

    /* Background colors */

    --background-900: 198.95 82.61% 4.51%;
    --background-500: 200 82.98% 9.22%;
    --background-100: 199.15 59.49% 15.49%;
    --background-50: 0 0% 85.1%;

    /* Default mappings for existing CSS variables */
    --background: var(--background-900);
    --foreground: var(--foreground-900);
    --primary: var(--primary-500);
    --primary-foreground: var(--foreground-100);

    --card: var(--background-500);
    --card-foreground: var(--foreground-500);

    --popover: var(--background-500);
    --popover-foreground: var(--foreground-500);

    --secondary: var(--background-500);
    --secondary-foreground: var(--foreground-500);

    --muted: var(--background-500);
    --muted-foreground: var(--foreground-500);

    --accent: var(--primary-500);
    --accent-foreground: var(--foreground-100);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--foreground-100);

    --border: var(--background-500);
    --input: var(--background-500);
    --ring: var(--primary-500);

    --radius: 0.5rem;

    --gradient-x: -20%;
    --gradient-y: 110%;

    /* Background gradient colors (gradient 1) */
    --gradient-background-start: 198.95 73.8% 16.5%; /* rgb(11, 53, 73) */
    --gradient-background-end: 198.95 73.8% 16.5%; /* same color, different opacity */

    /* Foreground gradient colors (gradient 2) */
    --gradient-foreground-start: 0 0% 59.2%; /* rgb(151, 151, 151) */
    --gradient-foreground-end: 0 0% 59.2%; /* same color, different opacity */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground-100 min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 1;
}

@layer components {
  h1,
  .type-h1,
  .prose h1 {
    font-family: var(--font-calvino);
    font-size: clamp(3.285rem, 3.285rem + ((100vw - 20rem) / 44) * 3.95, 6.95rem);
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.06625rem;
  }

  h2,
  .type-h2,
  .prose h2 {
    font-family: var(--font-calvino);
    font-size: clamp(2.0075rem, 2.0075rem + ((100vw - 20rem) / 44) * 1.9, 3.65rem);
    font-style: normal;
    font-weight: 300;
    line-height: 115%;
  }

  h3,
  .type-h3,
  .prose h3 {
    font-family: var(--font-calvino);
    font-size: clamp(1.375rem, 1.375rem + ((100vw - 20rem) / 44) * 0.7, 1.825rem);
    font-style: normal;
    font-weight: 200;
    line-height: 140%;
  }

  h4,
  .type-h4,
  .prose h4 {
    font-family: var(--font-calvino);
    font-size: clamp(0.99rem, 0.99rem + ((100vw - 20rem) / 44) * 0.25, 1.1rem);
    font-style: normal;
    font-weight: 350;
    line-height: 140%;
  }
  p,
  span,
  a,
  .type-body,
  .prose p,
  .prose span,
  .prose a,
  .type-button {
    font-family: var(--font-figtree);
    font-size: clamp(0.95rem, 0.95rem + ((100vw - 20rem) / 44) * 0.025, 0.95rem);
    font-style: normal;
    font-weight: 300;
    line-height: auto;
  }

  /* h5,
  .type-h5,
  .prose h5 {
    font-family: var(--font-figtree);
    font-size: clamp(0.9rem, 0.9rem + ((100vw - 20rem) / 44) * 0.0625, 0.95rem);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  } */

  .type-caption {
    font-family: var(--font-figtree);
    font-size: clamp(0.75rem, 0.75rem + ((100vw - 20rem) / 44) * 0.0625, 0.75rem);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

.frame {
  @apply border-foreground-100/10 border drop-shadow-xl;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
